<div class="container">
    <div style="margin-top:50px;">
            <a routerLink="/add-product" class="btn btn-primary" >Add Product</a>
    </div>
    <div class="row" style="margin-top:50px;">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="./../../../assets/img1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Wheat</h5>
                  <!-- <h5>price: 30/kg</h5> -->
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary" >Buy Now</a>
                  <a href="#" class="btn btn-primary" style="margin-left: 55px;">Add to cart</a>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="./../../../assets/img2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Wheat</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  
                  <a href="#" class="btn btn-primary" >Buy Now</a>
                  <a href="#" class="btn btn-primary" style="margin-left: 55px;">Add to cart</a>

                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem; height: 25rem;">
                <img src="./../../../assets/corn.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Corn</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary" >Buy Now</a>
                  <a href="#" class="btn btn-primary" style="margin-left: 55px;">Add to cart</a>

                </div>
              </div>
        </div>
    </div>
</div>>
